.home{
  background: url(./Images/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.card{

  box-shadow: 4px;
  border-radius: 50px;
}

.gradient-custom {

  }


  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    } 

    .error{
      color: red;
    }

   
    .password-field {
      
      
      
    }
    
    .password-input-container {
      
      align-items: center;
    }
    
    .password-input-container input {
      
      
    }
    
    .password-toggle-btn {
      background: none;
      border: none;

      
    }
    